[submodule "teacherui-frontend"]
	path = teacherui-frontend
	url = git@github.com:HandsFree/teacherui-frontend.git
[submodule "teacherui-backend"]
	path = teacherui-backend
	url = git@github.com:HandsFree/teacherui-backend.git
